@use "sass:map";

$_palette: (
    // Gray
    gray-10: "16,16,16",
    gray-20: "46,45,45",
    gray-30: "92,91,90",
    gray-40: "128,127,126",
    gray-50: "150,148,147",
    gray-60: "181,180,179",
    gray-70: "209,207,205",
    gray-80: "226,225,224",
    gray-90: "241,240,239",
    gray-95: "242,241,240",
    // Orange
    orange-10: "84,28,0",
    orange-20: "126,38,0",
    orange-30: "170,47,0",
    orange-40: "216,58,0",
    orange-50: "255,74,20",
    orange-60: "255,100,54",
    orange-70: "255,124,84",
    orange-80: "254,165,140",
    orange-90: "255,203,189",
    orange-95: "254,221,211",
    // Yellow
    yellow-10: "79,46,0",
    yellow-20: "111,61,0",
    yellow-30: "140,74,0",
    yellow-40: "168,99,0",
    yellow-50: "202,133,1",
    yellow-60: "215,146,0",
    yellow-70: "235,166,0",
    yellow-80: "252,185,28",
    yellow-90: "249,219,157",
    yellow-95: "251,235,198",
    // Beige
    beige-10: "84,79,75",
    beige-20: "130,122,116",
    beige-30: "176,167,160",
    beige-40: "204,198,194",
    beige-50: "229,226,223",
    beige-60: "244,240,237",
    beige-70: "245,243,241",
    beige-80: "248,246,244",
    beige-90: "250,249,248",
    beige-95: "253,252,251",
    // Lime
    lime-10: "71,91,0",
    lime-20: "90,114,8",
    lime-30: "126,162,4",
    lime-40: "160,200,24",
    lime-50: "182,233,13",
    lime-60: "197,255,0",
    lime-70: "209,254,89",
    lime-80: "220,255,136",
    lime-90: "233,255,177",
    lime-95: "244,255,216",
    // Olive
    olive-10: "22,48,5",
    olive-20: "69,90,58",
    olive-30: "116,130,107",
    olive-40: "145,156,140",
    olive-50: "162,172,157",
    olive-60: "186,196,181",
    olive-70: "209,213,205",
    olive-80: "220,224,217",
    olive-90: "227,232,223",
    olive-95: "237,240,235",
    // Green
    green-10: "8,53,39",
    green-20: "17,78,55",
    green-30: "24,104,69",
    green-40: "33,132,82",
    green-50: "42,167,92",
    green-60: "47,182,97",
    green-70: "55,205,117",
    green-80: "116,219,125",
    green-90: "175,239,172",
    green-95: "211,247,205",
    // Turquoise
    turquoise-10: "0,52,52",
    turquoise-20: "0,77,76",
    turquoise-30: "0,103,100",
    turquoise-40: "0,130,123",
    turquoise-50: "0,185,172",
    turquoise-60: "0,219,203",
    turquoise-70: "0,235,215",
    turquoise-80: "84,246,230",
    turquoise-90: "124,243,218",
    turquoise-95: "172,249,232",
    // Skyblue
    skyblue-10: "26,54,67",
    skyblue-20: "30,82,105",
    skyblue-30: "33,114,151",
    skyblue-40: "69,162,202",
    skyblue-50: "81,192,232",
    skyblue-60: "103,204,240",
    skyblue-70: "130,215,245",
    skyblue-80: "157,224,250",
    skyblue-90: "173,232,255",
    skyblue-95: "196,239,255",
    // Blue
    blue-10: "0,43,96",
    blue-20: "0,68,134",
    blue-30: "0,87,171",
    blue-40: "1,118,211",
    blue-50: "56,146,255",
    blue-60: "87,163,253",
    blue-70: "119,175,253",
    blue-80: "145,188,255",
    blue-90: "190,214,254",
    blue-95: "212,227,255",
    // Indigo
    indigo-10: "26,0,143",
    indigo-20: "33,29,183",
    indigo-30: "37,54,218",
    indigo-40: "70,87,232",
    indigo-50: "109,124,237",
    indigo-60: "122,138,239",
    indigo-70: "140,153,241",
    indigo-80: "170,182,246",
    indigo-90: "203,213,248",
    indigo-95: "221,227,251",
    // Purple
    purple-10: "69,43,117",
    purple-20: "105,81,149",
    purple-30: "137,109,188",
    purple-40: "162,133,214",
    purple-50: "175,148,224",
    purple-60: "204,175,234",
    purple-70: "214,191,238",
    purple-80: "224,207,243",
    purple-90: "235,223,247",
    purple-95: "245,239,251",
    // Violet
    violet-10: "62,4,87",
    violet-20: "116,9,148",
    violet-30: "144,6,191",
    violet-40: "182,44,232",
    violet-50: "198,87,255",
    violet-60: "205,114,254",
    violet-70: "212,135,254",
    violet-80: "225,175,254",
    violet-90: "236,206,254",
    violet-95: "243,224,255",
    // Magenta
    magenta-10: "97,2,32",
    magenta-20: "138,3,46",
    magenta-30: "182,5,61",
    magenta-40: "229,28,91",
    magenta-50: "255,64,125",
    magenta-60: "255,92,136",
    magenta-70: "254,130,161",
    magenta-80: "253,162,181",
    magenta-90: "253,200,210",
    magenta-95: "254,221,228",
    // Red
    red-10: "72,0,2",
    red-20: "100,1,3",
    red-30: "142,3,15",
    red-40: "234,0,30",
    red-50: "254,69,51",
    red-60: "254,97,76",
    red-70: "254,121,99",
    red-80: "254,166,150",
    red-90: "254,205,196",
    red-95: "254,225,218",
    // Steel
    steel-10: "56,64,67",
    steel-20: "84,93,97",
    steel-30: "103,113,118",
    steel-40: "132,141,153",
    steel-50: "143,154,162",
    steel-60: "155,171,185",
    steel-70: "197,209,219",
    steel-80: "217,227,239",
    steel-90: "235,239,245",
    steel-95: "242,245,250"
);

@function get-fallback($property) {
    @if not map.has-key($_palette, $property) {
        @error "palette: invalid property #{$property}";
    }
    @return map.get($_palette, $property);
}
